# Ambiente virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/

# Variáveis de ambiente
.env

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/